In [2]:
import os 
import pandas as pd

In [3]:
!pwd

/Users/user/Desktop/Projects/football-match-prediction/notebooks

In [4]:
os.chdir("../")

In [5]:
!pwd

/Users/user/Desktop/Projects/football-match-prediction

In [6]:
df = pd.read_csv("/Users/user/Desktop/Projects/football-match-prediction/data/08_14_2025/MATCH_DATA.csv")
df.head()

/var/folders/vw/4mc3r49x4_1419cmr0886y640000gn/T/ipykernel_9873/1720057740.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/user/Desktop/Projects/football-match-prediction/data/08_14_2025/MATCH_DATA.csv")

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
0,F1,2000-07-28,NaN,Marseille,Troyes,1686.34,1586.57,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F1,2000-07-28,NaN,Paris SG,Strasbourg,1714.89,1642.51,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F2,2000-07-28,NaN,Wasquehal,Nancy,1465.08,1633.80,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F1,2000-07-29,NaN,Auxerre,Sedan,1635.58,1624.22,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F1,2000-07-29,NaN,Bordeaux,Metz,1734.34,1673.11,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df["Division"].unique()

array(['F1', 'F2', 'T1', 'D1', 'D2', 'B1', 'E2', 'E1', 'N1', 'P1', 'E0',
       'I2', 'SP2', 'SP1', 'I1', 'E3', 'SC0', 'SC1', 'SC2', 'SC3', 'G1',
       'EC', 'USA', 'SWE', 'NOR', 'IRL', 'BRA', 'ARG', 'MEX', 'JAP',
       'RUS', 'POL', 'DEN', 'ROM', 'AUT', 'SUI', 'FIN', 'CHN'],
      dtype=object)

In [8]:
df[df["Division"] == "E1"]["HomeTeam"].value_counts()

HomeTeam
Preston               476
Cardiff               452
Derby                 451
Sheffield Weds        437
QPR                   430
                     ...
Yeovil                 23
Milton Keynes Dons     23
Tranmere               23
Wycombe                23
Oxford                 23
Name: count, Length: 64, dtype: int64

In [37]:
df[df["Division"] == "E0"].tail()

Empty DataFrame
Columns: [index, Division, MatchDate, HomeTeam, AwayTeam, HomeElo, AwayElo, Form3Home, Form5Home, Form3Away, Form5Away, FTHome, FTAway, FTResult, HTHome, HTAway, HTResult, HomeShots, AwayShots, HomeTarget, AwayTarget, HomeFouls, AwayFouls, HomeCorners, AwayCorners, HomeYellow, AwayYellow, HomeRed, AwayRed, OddHome, OddDraw, OddAway, MaxHome, MaxDraw, MaxAway, Over25, Under25, MaxOver25, MaxUnder25, HandiSize, HandiHome, HandiAway, C_LTH, C_LTA, C_VHD, C_VAD, C_HTB, C_PHB]
Index: []

[0 rows x 48 columns]

In [13]:
df.columns

Index(['Division', 'MatchDate', 'MatchTime', 'HomeTeam', 'AwayTeam', 'HomeElo',
       'AwayElo', 'Form3Home', 'Form5Home', 'Form3Away', 'Form5Away', 'FTHome',
       'FTAway', 'FTResult', 'HTHome', 'HTAway', 'HTResult', 'HomeShots',
       'AwayShots', 'HomeTarget', 'AwayTarget', 'HomeFouls', 'AwayFouls',
       'HomeCorners', 'AwayCorners', 'HomeYellow', 'AwayYellow', 'HomeRed',
       'AwayRed', 'OddHome', 'OddDraw', 'OddAway', 'MaxHome', 'MaxDraw',
       'MaxAway', 'Over25', 'Under25', 'MaxOver25', 'MaxUnder25', 'HandiSize',
       'HandiHome', 'HandiAway', 'C_LTH', 'C_LTA', 'C_VHD', 'C_VAD', 'C_HTB',
       'C_PHB'],
      dtype='object')

In [51]:
import os 

MAIN_DIR = "/Users/user/Desktop/Projects/football-match-prediction/data/08_14_2025"
DIVISIONS_DIR = "DIVISIONS"

os.makedirs(os.path.join(MAIN_DIR, DIVISIONS_DIR), exist_ok=True)

for div in df["Division"].unique():
    division_dir = os.path.join(MAIN_DIR, DIVISIONS_DIR, f"{div}.csv")
    df[df["Division"] == div].to_csv(division_dir, index=False)

In [38]:
path = os.path.join(MAIN_DIR, DIVISIONS_DIR, "E0.csv")
df = pd.read_csv(path)
df

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
0,E0,2000-08-19,NaN,Charlton,Man City,1608.77,1579.99,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.1396,0.0346,0.2085,0.0100,0.2939,0.3134
1,E0,2000-08-19,NaN,Chelsea,West Ham,1800.17,1681.36,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0702,0.0742,0.0099,0.0823,0.0387,0.7247
2,E0,2000-08-19,NaN,Coventry,Middlesbrough,1635.61,1679.18,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.8114,0.0316,0.0103,0.0731,0.0319,0.0417
3,E0,2000-08-19,NaN,Derby,Southampton,1636.08,1630.02,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0272,0.0390,0.0467,0.0100,0.0961,0.7810
4,E0,2000-08-19,NaN,Leeds,Everton,1782.55,1685.55,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.7772,0.0994,0.0140,0.0429,0.0119,0.0546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9405,E0,2025-05-25,16:00:00,Newcastle,Everton,1882.33,1776.20,4.0,7.0,7.0,...,2.65,-1.5,1.93,1.93,0.0276,0.0613,0.2894,0.0100,0.5967,0.0150
9406,E0,2025-05-25,16:00:00,Nott'm Forest,Chelsea,1799.76,1880.42,5.0,8.0,6.0,...,2.26,0.3,1.93,1.93,0.1250,0.7378,0.0139,0.0637,0.0291,0.0305
9407,E0,2025-05-25,16:00:00,Southampton,Arsenal,1557.66,1985.45,1.0,2.0,4.0,...,2.80,1.5,2.03,1.83,0.0105,0.0098,0.0098,0.9324,0.0276,0.0098
9408,E0,2025-05-25,16:00:00,Tottenham,Brighton,1784.55,1797.83,1.0,1.0,7.0,...,3.55,0.8,2.00,1.85,0.2559,0.0320,0.0136,0.4660,0.1900,0.0425
9409,E0,2025-05-25,16:00:00,Wolves,Brentford,1739.45,1820.23,0.0,6.0,6.0,...,2.63,0.0,2.03,1.83,0.0302,0.1610,0.0306,0.1010,0.6641,0.0131

In [39]:
df = df[df.isnull().any(axis=1)].reset_index()

In [40]:
df.isnull().sum() / len(df) * 100

index           0.000000
Division        0.000000
MatchDate       0.000000
MatchTime      99.971957
HomeTeam        0.000000
AwayTeam        0.000000
HomeElo         0.014021
AwayElo         0.014021
Form3Home       0.000000
Form5Home       0.000000
Form3Away       0.000000
Form5Away       0.000000
FTHome          0.000000
FTAway          0.000000
FTResult        0.000000
HTHome          0.000000
HTAway          0.000000
HTResult        0.000000
HomeShots       0.000000
AwayShots       0.000000
HomeTarget      0.000000
AwayTarget      0.000000
HomeFouls       0.000000
AwayFouls       0.000000
HomeCorners     0.000000
AwayCorners     0.000000
HomeYellow      0.000000
AwayYellow      0.000000
HomeRed         0.000000
AwayRed         0.000000
OddHome         1.163769
OddDraw         1.163769
OddAway         1.163769
MaxHome        25.378575
MaxDraw        25.378575
MaxAway        25.378575
Over25         25.378575
Under25        25.378575
MaxOver25      25.378575
MaxUnder25     25.378575
HandiSize      16.264722
HandiHome      16.138531
HandiAway      16.264722
C_LTH           0.000000
C_LTA           0.000000
C_VHD           0.000000
C_VAD           0.000000
C_HTB           0.000000
C_PHB           0.000000
dtype: float64

In [41]:
df["HomeTeam"].value_counts()

HomeTeam
Everton             359
Tottenham           357
Man United          357
Chelsea             356
Liverpool           355
Arsenal             355
Man City            337
Newcastle           318
West Ham            304
Aston Villa         299
Sunderland          266
Fulham              261
Southampton         225
West Brom           225
Bolton              204
Blackburn           204
Stoke               190
Middlesbrough       187
Wigan               152
Leicester           151
Swansea             133
Crystal Palace      131
Birmingham          130
Portsmouth          128
Charlton            128
Watford              95
Hull                 95
Burnley              95
Norwich              93
Wolves               92
Bournemouth          76
Leeds                74
Derby                57
Reading              57
QPR                  57
Cardiff              38
Huddersfield         38
Brighton             38
Ipswich              38
Coventry             19
Blackpool            19
Sheffield United     19
Bradford             19
Nott'm Forest         1
Name: count, dtype: int64

In [42]:
df["AwayTeam"].value_counts()

AwayTeam
Liverpool           358
Tottenham           357
Arsenal             357
Chelsea             356
Man United          356
Everton             355
Man City            338
Newcastle           318
West Ham            304
Aston Villa         301
Sunderland          266
Fulham              261
West Brom           226
Southampton         222
Bolton              206
Blackburn           204
Stoke               190
Middlesbrough       185
Wigan               152
Leicester           148
Swansea             133
Crystal Palace      131
Charlton            130
Portsmouth          130
Birmingham          128
Burnley              95
Hull                 95
Watford              95
Norwich              93
Wolves               93
Bournemouth          76
Leeds                73
QPR                  57
Reading              57
Derby                57
Huddersfield         38
Brighton             38
Cardiff              38
Ipswich              38
Blackpool            19
Sheffield United     19
Bradford             19
Coventry             19
Nott'm Forest         1
Name: count, dtype: int64

In [43]:
df.tail()

,index,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
7127,7127,E0,2019-05-12,NaN,Southampton,Huddersfield,1680.76,1500.13,2.0,5.0,...,2.40,-1.5,2.16,1.73,0.0516,0.2728,0.1794,0.0263,0.4214,0.0485
7128,7128,E0,2019-05-12,NaN,Tottenham,Everton,1888.83,1748.07,3.0,6.0,...,2.18,-0.5,2.08,1.80,0.0144,0.0301,0.0257,0.0169,0.9030,0.0100
7129,7129,E0,2019-05-12,NaN,Watford,West Ham,1697.42,1693.79,1.0,4.0,...,2.56,-0.5,2.19,1.72,0.0583,0.0099,0.0099,0.8136,0.0964,0.0119
7130,9203,E0,2024-12-26,15:00:00,Nott'm Forest,Tottenham,NaN,1812.92,0.0,0.0,...,2.72,-0.3,2.06,1.84,0.3827,0.1514,0.0283,0.1491,0.1827,0.1058
7131,9211,E0,2024-12-29,15:00:00,Everton,Nott'm Forest,1711.92,NaN,3.0,6.0,...,1.70,0.0,1.88,2.02,0.0140,0.8332,0.0174,0.0342,0.0777,0.0234

In [44]:
df["MatchDate"].unique()

array(['2000-08-19', '2000-08-20', '2000-08-21', ..., '2019-05-12',
       '2024-12-26', '2024-12-29'], shape=(1889,), dtype=object)

In [45]:
df.columns

Index(['index', 'Division', 'MatchDate', 'MatchTime', 'HomeTeam', 'AwayTeam',
       'HomeElo', 'AwayElo', 'Form3Home', 'Form5Home', 'Form3Away',
       'Form5Away', 'FTHome', 'FTAway', 'FTResult', 'HTHome', 'HTAway',
       'HTResult', 'HomeShots', 'AwayShots', 'HomeTarget', 'AwayTarget',
       'HomeFouls', 'AwayFouls', 'HomeCorners', 'AwayCorners', 'HomeYellow',
       'AwayYellow', 'HomeRed', 'AwayRed', 'OddHome', 'OddDraw', 'OddAway',
       'MaxHome', 'MaxDraw', 'MaxAway', 'Over25', 'Under25', 'MaxOver25',
       'MaxUnder25', 'HandiSize', 'HandiHome', 'HandiAway', 'C_LTH', 'C_LTA',
       'C_VHD', 'C_VAD', 'C_HTB', 'C_PHB'],
      dtype='object')

In [46]:
df.tail(20)

,index,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
7112,7112,E0,2019-05-04,NaN,Cardiff,Crystal Palace,1582.55,1719.45,3.0,3.0,...,1.96,0.3,1.66,2.31,0.0758,0.0329,0.0099,0.7999,0.0716,0.0099
7113,7113,E0,2019-05-04,NaN,Newcastle,Liverpool,1694.67,2013.48,7.0,7.0,...,2.22,1.5,1.83,2.03,0.3695,0.0387,0.1076,0.0624,0.4079,0.0139
7114,7114,E0,2019-05-04,NaN,West Ham,Southampton,1693.79,1680.76,4.0,4.0,...,2.43,-0.5,2.29,1.66,0.0419,0.1083,0.7222,0.0099,0.0869,0.0308
7115,7115,E0,2019-05-04,NaN,Wolves,Fulham,1708.35,1594.66,7.0,10.0,...,2.10,-1.0,1.93,1.94,0.0098,0.0147,0.9010,0.0098,0.0548,0.0098
7116,7116,E0,2019-05-05,NaN,Arsenal,Brighton,1854.51,1602.46,0.0,3.0,...,2.27,-1.5,2.21,1.70,0.0889,0.0149,0.4270,0.0100,0.4453,0.0139
7117,7117,E0,2019-05-05,NaN,Chelsea,Watford,1860.63,1697.42,2.0,8.0,...,2.45,-1.5,2.14,1.74,0.0164,0.0098,0.0098,0.9253,0.0289,0.0098
7118,7118,E0,2019-05-05,NaN,Huddersfield,Man United,1500.13,1857.66,0.0,0.0,...,2.30,1.5,1.93,1.93,0.0098,0.0141,0.9405,0.0098,0.0159,0.0098
7119,7119,E0,2019-05-06,NaN,Man City,Leicester,2023.95,1729.15,9.0,15.0,...,3.60,-2.0,1.75,2.12,0.0098,0.0098,0.0098,0.9489,0.0119,0.0098
7120,7120,E0,2019-05-12,NaN,Brighton,Man City,1602.46,2023.95,2.0,3.0,...,3.20,2.5,1.64,2.30,0.0528,0.0376,0.0100,0.5530,0.3368,0.0100
7121,7121,E0,2019-05-12,NaN,Burnley,Arsenal,1686.80,1854.51,1.0,7.0,...,2.55,0.5,1.72,2.18,0.0239,0.0244,0.0405,0.0179,0.8834,0.0100
7122,7122,E0,2019-05-12,NaN,Crystal Palace,Bournemouth,1719.45,1677.72,7.0,10.0,...,2.59,-1.0,2.52,1.54,0.0321,0.2940,0.0205,0.2494,0.3907,0.0134
7123,7123,E0,2019-05-12,NaN,Fulham,Newcastle,1594.66,1694.67,6.0,9.0,...,2.17,-0.3,2.15,1.75,0.1505,0.0513,0.0099,0.6963,0.0797,0.0123
7124,7124,E0,2019-05-12,NaN,Leicester,Chelsea,1729.15,1860.63,4.0,7.0,...,2.26,-0.5,2.38,1.62,0.0473,0.0282,0.8866,0.0099,0.0181,0.0099
7125,7125,E0,2019-05-12,NaN,Liverpool,Wolves,2013.48,1708.35,9.0,15.0,...,2.43,-1.5,1.91,1.95,0.0150,0.0131,0.7439,0.0099,0.2082,0.0099
7126,7126,E0,2019-05-12,NaN,Man United,Cardiff,1857.66,1582.55,2.0,5.0,...,3.25,-2.0,2.32,1.64,0.2497,0.1672,0.4681,0.0133,0.0860,0.0156
7127,7127,E0,2019-05-12,NaN,Southampton,Huddersfield,1680.76,1500.13,2.0,5.0,...,2.40,-1.5,2.16,1.73,0.0516,0.2728,0.1794,0.0263,0.4214,0.0485
7128,7128,E0,2019-05-12,NaN,Tottenham,Everton,1888.83,1748.07,3.0,6.0,...,2.18,-0.5,2.08,1.80,0.0144,0.0301,0.0257,0.0169,0.9030,0.0100
7129,7129,E0,2019-05-12,NaN,Watford,West Ham,1697.42,1693.79,1.0,4.0,...,2.56,-0.5,2.19,1.72,0.0583,0.0099,0.0099,0.8136,0.0964,0.0119
7130,9203,E0,2024-12-26,15:00:00,Nott'm Forest,Tottenham,NaN,1812.92,0.0,0.0,...,2.72,-0.3,2.06,1.84,0.3827,0.1514,0.0283,0.1491,0.1827,0.1058
7131,9211,E0,2024-12-29,15:00:00,Everton,Nott'm Forest,1711.92,NaN,3.0,6.0,...,1.70,0.0,1.88,2.02,0.0140,0.8332,0.0174,0.0342,0.0777,0.0234

In [48]:
df["MatchDate"].str.startswith("2024")

0       False
1       False
2       False
3       False
4       False
        ...
7127    False
7128    False
7129    False
7130     True
7131     True
Name: MatchDate, Length: 7132, dtype: bool

In [50]:
df = pd.read_csv("/Users/user/Desktop/Projects/football-match-prediction/data/08_14_2025/Matches.csv")
df[df["Division"] == "E0"].tail(20)

/var/folders/vw/4mc3r49x4_1419cmr0886y640000gn/T/ipykernel_9873/3829854786.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/user/Desktop/Projects/football-match-prediction/data/08_14_2025/Matches.csv")

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
230373,E0,2025-05-16,19:30:00,Aston Villa,Tottenham,1877.14,1784.55,6.0,12.0,1.0,...,3.25,-1.5,1.88,2.02,0.1007,0.1535,0.6560,0.0099,0.0637,0.0162
230376,E0,2025-05-16,20:15:00,Chelsea,Man United,1880.42,1797.14,6.0,10.0,1.0,...,2.67,-1.3,1.99,1.91,0.2657,0.3955,0.2338,0.0100,0.0307,0.0644
230414,E0,2025-05-18,12:00:00,Everton,Southampton,1776.20,1557.66,4.0,7.0,1.0,...,2.08,-1.3,1.95,1.95,0.1439,0.0874,0.7107,0.0099,0.0370,0.0111
230427,E0,2025-05-18,14:15:00,West Ham,Nott'm Forest,1747.89,1799.76,4.0,5.0,2.0,...,1.93,0.0,2.02,1.88,0.0507,0.4548,0.0243,0.0931,0.3489,0.0281
230438,E0,2025-05-18,15:00:00,Brentford,Fulham,1820.23,1776.09,9.0,13.0,3.0,...,2.40,-0.5,1.95,1.95,0.2998,0.0558,0.0727,0.0528,0.4906,0.0283
230439,E0,2025-05-18,15:00:00,Leicester,Ipswich,1611.09,1605.94,4.0,5.0,1.0,...,2.18,-0.3,2.04,1.86,0.3279,0.0246,0.0246,0.1442,0.3725,0.1062
230446,E0,2025-05-18,16:30:00,Arsenal,Newcastle,1985.45,1882.33,2.0,6.0,7.0,...,2.13,-0.5,2.01,1.89,0.1640,0.1429,0.2557,0.0246,0.3907,0.0220
230478,E0,2025-05-19,20:00:00,Brighton,Liverpool,1797.83,2008.67,7.0,8.0,4.0,...,2.75,0.0,2.00,1.90,0.0356,0.0163,0.0164,0.1719,0.7437,0.0161
230479,E0,2025-05-20,20:00:00,Crystal Palace,Wolves,1820.28,1739.45,5.0,6.0,3.0,...,1.89,-0.3,1.98,1.92,0.7257,0.0135,0.0676,0.0299,0.1268,0.0365
230480,E0,2025-05-20,20:00:00,Man City,Bournemouth,1945.10,1806.69,7.0,13.0,4.0,...,2.60,-1.0,1.91,1.99,0.3802,0.0708,0.4690,0.0100,0.0487,0.0213
230501,E0,2025-05-25,16:00:00,Bournemouth,Leicester,1806.69,1611.09,3.0,5.0,7.0,...,2.80,-1.5,1.90,1.95,0.1102,0.0304,0.6686,0.0099,0.0410,0.1398
230502,E0,2025-05-25,16:00:00,Fulham,Man City,1776.09,1945.10,3.0,6.0,7.0,...,2.63,1.0,1.85,2.00,0.0329,0.0220,0.0099,0.6499,0.2753,0.0099
230503,E0,2025-05-25,16:00:00,Ipswich,West Ham,1605.94,1747.89,1.0,1.0,4.0,...,2.63,0.3,1.90,1.95,0.0328,0.6258,0.0119,0.1763,0.1318,0.0215
230504,E0,2025-05-25,16:00:00,Liverpool,Crystal Palace,2008.67,1820.28,1.0,7.0,7.0,...,3.70,-1.5,2.00,1.85,0.0222,0.4794,0.4154,0.0099,0.0600,0.0131
230505,E0,2025-05-25,16:00:00,Man United,Aston Villa,1797.14,1877.14,0.0,1.0,9.0,...,2.40,0.8,1.95,1.90,0.1425,0.0519,0.1051,0.0429,0.6227,0.0348
230506,E0,2025-05-25,16:00:00,Newcastle,Everton,1882.33,1776.20,4.0,7.0,7.0,...,2.65,-1.5,1.93,1.93,0.0276,0.0613,0.2894,0.0100,0.5967,0.0150
230507,E0,2025-05-25,16:00:00,Nott'm Forest,Chelsea,1799.76,1880.42,5.0,8.0,6.0,...,2.26,0.3,1.93,1.93,0.1250,0.7378,0.0139,0.0637,0.0291,0.0305
230508,E0,2025-05-25,16:00:00,Southampton,Arsenal,1557.66,1985.45,1.0,2.0,4.0,...,2.80,1.5,2.03,1.83,0.0105,0.0098,0.0098,0.9324,0.0276,0.0098
230509,E0,2025-05-25,16:00:00,Tottenham,Brighton,1784.55,1797.83,1.0,1.0,7.0,...,3.55,0.8,2.00,1.85,0.2559,0.0320,0.0136,0.4660,0.1900,0.0425
230510,E0,2025-05-25,16:00:00,Wolves,Brentford,1739.45,1820.23,0.0,6.0,6.0,...,2.63,0.0,2.03,1.83,0.0302,0.1610,0.0306,0.1010,0.6641,0.0131

In [52]:
df = pd.read_csv("/Users/user/Desktop/Projects/football-match-prediction/data/08_14_2025/DIVISIONS/E0.csv")
df.tail()

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
9405,E0,2025-05-25,16:00:00,Newcastle,Everton,1882.33,1776.20,4.0,7.0,7.0,...,2.65,-1.5,1.93,1.93,0.0276,0.0613,0.2894,0.0100,0.5967,0.0150
9406,E0,2025-05-25,16:00:00,Nott'm Forest,Chelsea,1799.76,1880.42,5.0,8.0,6.0,...,2.26,0.3,1.93,1.93,0.1250,0.7378,0.0139,0.0637,0.0291,0.0305
9407,E0,2025-05-25,16:00:00,Southampton,Arsenal,1557.66,1985.45,1.0,2.0,4.0,...,2.80,1.5,2.03,1.83,0.0105,0.0098,0.0098,0.9324,0.0276,0.0098
9408,E0,2025-05-25,16:00:00,Tottenham,Brighton,1784.55,1797.83,1.0,1.0,7.0,...,3.55,0.8,2.00,1.85,0.2559,0.0320,0.0136,0.4660,0.1900,0.0425
9409,E0,2025-05-25,16:00:00,Wolves,Brentford,1739.45,1820.23,0.0,6.0,6.0,...,2.63,0.0,2.03,1.83,0.0302,0.1610,0.0306,0.1010,0.6641,0.0131

In [58]:
df[df["MatchDate"].str.startswith("2025")]["HomeTeam"].unique()

array(['Brentford', 'Tottenham', 'Aston Villa', 'Bournemouth',
       'Crystal Palace', 'Man City', 'Southampton', 'Brighton', 'Fulham',
       'Liverpool', 'Wolves', 'Chelsea', 'West Ham', "Nott'm Forest",
       'Everton', 'Leicester', 'Newcastle', 'Arsenal', 'Ipswich',
       'Man United'], dtype=object)